.navbar {
  overflow: hidden;
  background-color: #999;
  font-family: Arial, sans-serif;
}
.logo {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.brand-logo {
  position: left;
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#hell {
  background-color: beige;
  position: center;
  
}

#heav {
  padding: 12px;
  background-color: lightblue;
}

.brand-logo img {
  object-fit: cover;
  height: 10%;
  width: 30%;
}
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 16px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Font Awesome Icon (optional) */
.fas.fa-caret-down {
  float: right;
  margin-left: 8px;
}
